.form_ContactMe {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  font-size: 1.6vw;
  background-color: rgb(157 223 248 / 65%);
}
.form_ContactMe input,
textarea {
  margin: 1px;
  background-color: transparent;
  border: 1px solid;
}

@media (min-width: 576px) {
  .form_ContactMe {
    font-size: 1.4vw;
  } 
}
@media (min-width: 992px) {
  .form_ContactMe {
    font-size: 1.3vw;
  }
}
@media (min-width: 1200px) {
  .form_ContactMe {
    font-size: 1.1vw;
    font-family: "Roboto Mono", monospace;
  }
}