.dalleShipTakeOff {
  animation-name: imperialStarTakeOff;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
.img-underConst-l {
  max-width: 190px;
}
.img-underConst-d {
  max-width: 190px;
  filter: grayscale(1);
}

@keyframes imperialStarTakeOff {
  0% {
    filter: drop-shadow(11px 22px 0px #212529);
    transform: translateY(0px) scale(0.5);
  }
  50% {
    filter: drop-shadow(11px 92px 5px #21252967);
    transform: translateY(-70px) scale(1);
  }
  100% {
    filter: drop-shadow(11px 62px 5px #21252967);
    transform: translateY(-40px) scale(0.8);
  }
}

.links_font_size {
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.under-construction-img {
  width: 30%;
}

.gap_space {
  gap: 5rem;
}

.functionalities_list_style {
  list-style: decimal;
}
