
.up {
    transition: 1.1s;
    transform: translateY(-1700%);
}
@media (max-width: 1200px) {
    .up {
        transition: 1.1s;
        transform: translateY(-1620%);
    }
}
@media (max-width: 991px) {
    .up {
        transition: 1.1s;
        transform: translateY(-1550%);
    }
}
@media (max-width: 767px) {
    .up {
        transition: 1.1s;
        transform: translateY(-1600%);
    }
}
@media (max-width: 575px) {
    .up {
        transition: 1.1s;
        transform: translateY(-1450%);
    }
}
@media (max-width: 540px) {
    .up {
        transition: 1.1s;
        transform: translateY(-1600%);
    }
}
@media (max-width: 500px) {
    .up {
        transition: 1.1s;
        transform: translateY(-1650%);
    }
} 
@media (max-width: 470px) {
    .up {
        transition: 1.1s;
        transform: translateY(-1750%);
    }
} 
@media (max-width: 440px) {
    .up {
        transition: 1.1s;
        transform: translateY(-1850%);
    }
} 
@media (max-width: 420px) {
    .up {
        transition: 1.1s;
        transform: translateY(-2050%);
    }
} 
@media (max-width: 400px) {
    .up {
        transition: 1.1s;
        transform: translateY(-2100%);
    }
} 
@media (max-width: 370px) {
    .up {
        transition: 1.1s;
        transform: translateY(-2300%);
    }
} 


.down {
    transition: 5s;
    transform: translateY(0px);
    transition-delay: 2s;
}

.shipDialogBox {
    transition: 1s;
    font-size: 2vw;
	font-family: 'Roboto Mono', monospace;
    border: 3px solid black;
    background: #fff;
    height: fit-content;
    padding: 10px;
    border-radius: 40% 100% 100% 40%;
    font-weight:bolder;
}

.skillsLogoShadow {
	filter:drop-shadow(0px 4px 6px white);
}
.skillsDarkLogoShadow {
	filter:drop-shadow(0px 4px 6px black);
}
div div span.fw-bold{
    font-size: 0.8rem !important;
    
}