.up {
  transition: 1.1s;
  position: fixed;
  top: 26%;
  right: 8%;
  transform: translateY(550%);
  z-index: 9999;
}

.up.active {
  transform: translateY(0);
}

.blueStarWarsTakeOff {
  font-weight: bold;
  font-size: clamp(2rem, 1vw, 2rem);
  color: black;
}
.arrow-light-one,
.arrow-light-two,
.arrow-light-three,
.arrow-light-four {
  animation-name: arrowTilt;
  animation-iteration-count: infinite;
}
.arrow-light-one {
  animation-duration: 1.5s;
}
.arrow-light-two {
  animation-duration: 2s;
}
.arrow-light-three {
  animation-duration: 3s;
}
.arrow-light-four {
  animation-duration: 4s;
}

@keyframes arrowTilt {
  0% {
    color: black;
  }
  100% {
    color: yellow;
  }
}
.arrow-dark-one,
.arrow-dark-two,
.arrow-dark-three,
.arrow-dark-four {
  animation-name: arrowTiltDark;
  animation-iteration-count: infinite;
}
.arrow-dark-one {
  animation-duration: 1.5s;
}
.arrow-dark-two {
  animation-duration: 2s;
}
.arrow-dark-three {
  animation-duration: 3s;
}
.arrow-dark-four {
  animation-duration: 4s;
}

@keyframes arrowTiltDark {
  0% {
    color: black;
  }
  100% {
    color: rgb(3, 253, 3);
  }
}
.arrow-text-dark {
  color: rgb(3, 253, 3);
}
.arrow-text-light {
  color: black;
}

.arrows-shadow {
  filter: drop-shadow(2px 4px 6px black);
}

.blueStarWarsShip-dark {
  max-width: 132px;
  max-height: 192px;
  filter: drop-shadow(0px 35px 12px white);
}
.blueStarWarsShip {
  max-width: 132px;
  max-height: 192px;
  filter: drop-shadow(0px 35px 12px blue);
}

.shipDialogBox {
  transition: 1s;
  font-size: clamp(0.6rem, 1vw, 2rem);
  font-family: 'Roboto Mono', monospace;
  border: 3px solid black;
  background: #fff;
  height: fit-content;
  padding: 5px;
  border-radius: 40% 100% 100% 40%;
  font-weight: bolder;
}

.skillsLogoShadow {
  filter: drop-shadow(0px 4px 6px white);
}
.skillsDarkLogoShadow {
  filter: drop-shadow(0px 4px 6px black);
}
div div span.fw-bold {
  font-size: 0.8rem !important;
}
