.consultoraTakeOff {
    animation-name: takeOff;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes takeOff {
    from {
    filter: drop-shadow(11px 22px 0px #212529);
    transform: translateY(0px);
    }
    to {
        filter: drop-shadow(11px 72px 5px #21252967);
    transform: translateY(-50px);

    }
}
