.bg_video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  animation-name: lightness;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  background: linear-gradient(180deg, #f8f9fa 0%, #e9ecef 100%);
}
@keyframes lightness {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
