
.container {
  overflow-x: auto !important;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.card {
  scroll-snap-align: start;
}
.card_title {
  font-size: clamp(1rem, 2vw, 2rem);
}

.card_flip {
  animation-name: card_flip_animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes card_flip_animation {
  0% {
    transform: rotateY(90deg);
  }
   50% {
    transform: rotateY(-20deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

