

header p {
  font-size: clamp(1rem, 2vw, 2rem);
}
header h1 {
  font-weight: 600;
  font-size: clamp(1.2rem, 3vw, 2.5rem);
}
header small {
  font-family: "Fasthand", cursive;
  letter-spacing: 1px;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.header_contactMe_btn {
  font-size: clamp(2vw, 4vw, 2rem);
  padding: 10px;
}

.header_blur {
  filter: blur(10px);
}
