.form_ContactMe {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  font-size: clamp(1rem, 2vw, 2rem);
  background-color: rgb(157 223 248 / 65%);
}
.form_ContactMe input,
textarea {
  border-color: transparent;
  outline-color: rgb(157 223 248 / 65%);
}
.form_ContactMe input:focus,
textarea:focus {
  margin: 1px;
  border-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

