.svgWhite {
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 992px) {
  .imageWrapper {
    width: 100%;
    height: auto;
  }
}