.svgWhite {
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
  transition: all 0.5s ease-in-out;
}

.imageWrapper {
  aspect-ratio: 400 / 406;
  width: 400px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
