@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&family=Roboto+Mono&display=swap');

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lightSide {
  background: #f8f9fa;
  transition: 1s;
}

