@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&family=Roboto+Mono&display=swap');

/* body {
    background-image: url(./assets/img/Hulk-PNG-File.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */
html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.darkSide {
	background-color: #000000c9 !important;
	transition: 2s;
}

.lightSide {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		270deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(73, 162, 255, 0.8239670868347339) 50%,
		rgba(255, 255, 255, 1) 100%
	);
	animation-name: ligth;
	animation-duration: 2s;
}
@keyframes ligth {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}
