.aiSuggestionContainer {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: "Roboto", sans-serif;
  animation-name: aiSuggestionFadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes aiSuggestionFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


 .aiSuggestionText {
    font-family: "Roboto Mono", monospace;
    font-size: clamp(1rem, 2vw, 2rem);
    color: #202124;
    line-height: 1.6;
  }

/* @media (min-width: 320px) {
  .aiSuggestionText {
    font-size: 1.6vw;
  }
}
@media (min-width: 576px) {
  
  .aiSuggestionText {
    font-size: 1.4vw;
  }
}
@media (min-width: 992px) {
 
  .aiSuggestionText {
    font-size: 1vw;
  }
}
@media (min-width: 1200px) {
  .aiSuggestionText {
    font-family: "Roboto Mono", monospace;
    font-size: 0.8vw;
    color: #202124;
    line-height: 1.6;
  }
} */